language: go

go:
  - 1.x
  - master

matrix:
  allow_failures:
    - go: master

install:
  - make install

script:
  - make test-ci

notifications:
  email: false

env:
  global:
    - MAKEFLAGS=" -j 2"
    - GO111MODULE=on
